<section class="mx-auto px-4 sm:px-6 lg:px-8 min-h-[60vh] bg-black flex flex-col justify-center items-center text-white text-center">
  <p class="text-xl py-2 opacity-80">Hi there !</p>
  <h1 class="text-5xl sm:text-6xl font-bold tracking-tight">I'm Funaki da SILVA</h1>
  <h2 class="text-2xl sm:text-3xl mt-4 font-semibold text-gray-300">
    Junior Angular Developer & Computer Science Student
  </h2>
</section>

<section class="mx-auto max-w-4xl min-h-[80vh] flex justify-center items-center  px-6 py-20 sm:py-24 bg-white text-gray-800 leading-relaxed">
  <div class="flex flex-col md:flex-row items-center md:items-start gap-8">
    <div
      class=" profile w-40 h-40 md:w-56 md:h-56 rounded-full overflow-hidden shadow-sm flex-shrink-0">
    </div>
    <div class="text-center md:text-left">
      <h3 class="text-3xl font-bold mb-6">About Me</h3>
      <p class="text-lg mb-4 text-gray-700 leading-relaxed">
        I'm a Junior Angular Developer and Computer Science student, passionate about creating fast and intuitive web applications.
        I’ve taught computer science in high school — an experience that strengthened my desire to learn and share knowledge.
      </p>
      <p class="text-lg mb-4 text-gray-700 leading-relaxed">
        I love exploring new technologies, improving every day, and collaborating on meaningful projects.
        My favourite stack is <span class="text-rose-500 font-semibold">Angular • Ionic</span>, as I enjoy both web and mobile development.
      </p>
    </div>
  </div>
</section>

<section class="bg-black text-white py-24">
  <app-project-explorer/>
</section>



