 <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <p class="uppercase  text-rose-500  text-sm font-medium mb-2">My projects</p>
      <h2 class="text-4xl sm:text-5xl font-bold mb-3">Work & Experiments</h2>
      <p class="text-gray-400 max-w-2xl mx-auto">
        Voici une sélection de projets personnels et académiques — conçus pour apprendre, créer et résoudre des problèmes réels.
      </p>
    </div>
    <div class="relative max-w-xl mx-auto mb-12">
      <lucide-angular class="text-gray-400 absolute left-2 top-1/2 -translate-y-1/2" [img]="searchIcon"></lucide-angular>
      <input
        type="search"
        placeholder="Rechercher un projet... (Angular, RxJS, API)"
        class="w-full bg-white text-gray-400 rounded-lg pl-12 pr-4 py-3 border border-gray-700 focus:border-black  focus:outline-none transition-all"
      />
    </div>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Cartes projet -->
    </div>

  </div>
